*{
    font-size: 8px;
    font-family: 'DejaVu Sans', serif;
}

h1 {
    font-size: 18px;
}

.ticket {
    margin: 0px;
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
}

td.precio {
    text-align: right;
    font-size: 8px;
}

td.cantidad {
    text-align: center;
    font-size: 8px;
}

td.producto {
    text-align: center;
}

th {
    text-align: center;
}


.centrado {
    text-align: center;
    align-content: center;
}



img {
    max-width: inherit;
    width: inherit;
}

* {
    margin: 0;
    padding: 0;
}

.ticket {
    margin: 0;
    padding: 0;
    width: 180px;
    max-width: 180px;
}

body {
    text-align: center;
}

